// PARTIE SLIDE FOOTER 
.slide__footer {
    background-color: #1d1d1d ;
    padding: 100px 0;

    .slide__footer__article {
        width: 60%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        gap: 20px;
    }
}
.slide__footer__article__content {

    h3 {
        color: white;
        font-size: 45px;
        font-weight: normal;
        margin: 20px 0;

        span {
            display: block;
        }
    }
    .date {
        color: white;
        margin-bottom: 20px;
    }
    p {
        color: $txt-color;
        line-height: 30px;
    }
}
// footer 
footer {
    background: url(../img/bg-img/4.jpg) no-repeat center/cover;
    position: relative;

    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.692);

    }
    .footer__wrapper {
        width: 60%;
        margin: 0 auto;
        padding: 100px 0;
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        gap: 50px;
        color: white;
    }
    small {
        padding: 50px;
        border-top: 1px solid white;
        z-index: 10;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
    }
}
.footer__cate {
    h4 {
        font-size: 25px;
        font-weight: normal;
    }
    ul {
        list-style: none;
        padding: 0;

        li {
            padding: 5px 0;
            transition: $transi;
        
            a {
                font-weight: 400;
                color: $txt-color;
                text-decoration: none;
                transition: $transi;
            }
        }
    }
    z-index: 10;
}
.footer__cate {
    li:hover {
        transform: translateX(5px);

        a {
            color: white;
        }
    } 
}
