// PARTIE SLIDE 
.slide {
    display: flex;

    img {
        height: 100%;
        width: 100%;
    }
}
.slide__wrapper {
    position: relative;
    height: 500px;

    &::after {
        content: "";
        background: rgba(0, 0, 0, 0.486);
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }
    .slide__content {
        position: absolute;
        top: 5%;
        left: 10%;
        color: white;
        z-index: 10;
    }
}
.slide__content {

    h3 {
        font-size: 30px;
        cursor: pointer;
        transition: $transi;
        margin-bottom: 10px;
    }
    .date {
        color: white;
        font-weight: bold;
        font-size: 18px;
        cursor: pointer;
        transition: $transi;
    }
    h3:hover, .date:hover {
        color: red;
    }
}
// PARTIE PREMIER GRID 80 20
.main-content {
    width: 60%;
    margin: 100px auto;
    
    .main-content__head {
        display: grid;
        grid-template-columns: 80% 20%;
        gap: 30px;
    }
}
.left__first {
    padding-bottom: 100px;

    .categorie {
        font-size: 16px;
    }
    h1 {
        font-size: 50px;
        font-weight: normal;
        margin: 20px 0;
    }
    .date {
        font-size: 18px;
        margin-bottom: 40px;
    }
    img {
        width: 100%;
        margin-bottom: 40px;
    }
    p {
        color: $txt-color;
        font-size: 18px;
        line-height: 30px;
    }
    .left__first__link {
        display: flex;
        justify-content: space-between;
        margin-top: 50px;
    }
}
.continue {
    
    a {
        text-decoration: none;
        color: black;
        text-transform: uppercase;
        padding: 20px 30px;
        border: 1px solid black;
        @include ahover;
    }
}
.social-med {

    a {
        font-size: 20px;
        color: $txt-color;
        text-decoration: none;
        padding: 10px;
        @include ahover;
    }
}
.left__second {

    h2 {
        font-weight: normal;
        padding-bottom: 20px;
        border-bottom: 1px solid $txt-color;
        margin-bottom: 50px;
    }
    .left__second__article {
        display: flex;
        justify-content: space-between;
        gap: 30px;
        margin-bottom: 50px;
        
    }
}
.left__second__article__img {
    height: 300px;
    width: 1200px;

    img {
        width: 100%;
        height: 100%;
    }
}
.left__second__article__content {
    .categorie {
        font-size: 15px;
    }
    h3 {
        font-size: 28px;
        font-weight: normal;
        margin-bottom: 10px;
    }
    .date {
        margin-bottom: 10px;
    }
    .comment {
        font-size: 12px;
        font-weight: bold;
    }
    p {
        color: $txt-color;
        line-height: 30px;
    }
}
